@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    display: grid;
    justify-content: center;
}

/* Estilização do titulo e menu */
.titulo {
    font-family: "Oswald";
    padding: 50px;
    color: rgba(0, 0, 0, 0.818);
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 80px;
    font-size: 15px;
    transition: .5s;
}


.menu li {
    text-decoration: none;
    padding: 15px 30px;
    color: rgba(0, 0, 0, 0.818);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.385);
    background-color: rgba(255, 255, 255, 0.749);
    font-family: 'Oswald';
    border-radius: 4px;
    list-style: none;
    margin: 0px;
}
.menu a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.968);
}
.menu li:hover {
    transform: scale(1.1);
    transition: .5s;
    background-color: rgba(159, 159, 159, 0.749);
}

/* Estilização da parte sobre */

.posicionamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 1000px;
}

.sobre {
    background-color: white;
    padding: 20px;
    text-align: right;
    display: grid;
    align-content: center;
    justify-items: end;

}

.sobre h1 {
    color: rgba(0, 0, 0, 0.818);
}

.descricao {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.818);
}
.imagem_cover img{
    object-fit: cover;
    height:100%;
}
.botao {
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: rgb(20, 19, 37);
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;

}
.botao:hover{
    background-color: rgba(20, 19, 37, 0.707);
    transition: 0.5s;
}

/* Estilização especificações */
.sub_espec {
    font-size: 4.5rem;
    text-align: right;
    color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-transform: uppercase;
    align-self: center;
    /* word-break: break-all; */
}

.especificacoes {
    background-color: white;
    padding: 40px;
}

.espec_items {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.espec_items:hover{
    border-left: 5px solid rgba(0, 0, 0, 0.767);
    padding: 2px;
    
}
.espec_items:nth-child(odd){
    background-color: #f7f7f7;

}
.espec_items p {
    grid-column: 2;
    text-align: justify;
    font-size: 1.2rem;
}
.fotos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

}
.foto-1{
    grid-column: 1/-1;
}
.rodape{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 0px;
}
@media (max-width:1000px){
    .posicionamento{
        grid-template-columns: 1fr;
    }
    .sub_espec{
        text-align: center;
    }
}