@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    background-color: #e5e5e5;
    margin: 0;
}
/* Estilização do titulo e menu */
.titulo{
    font-family: "Oswald";
    text-align: center;
    padding: 50px;
    color: rgba(0, 0, 0, 0.818);
}
.menu{
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 80px;
}
.menu li{
    list-style: none;
    font-size: 20px;
    transition: .5s;

}
.menu li a{
    text-decoration: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.818);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.385);
    background-color: rgba(255, 255, 255, 0.749);
    font-family: 'Oswald';
}
li:hover{
    transform: scale(1.1);
    transition: .5s;
}
/* Estilização da parte sobre */

.sobre{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 20px;
    justify-content: center;
}

